.container {
    width: 100%;
}

.row {
    height: 45%;
}

.col {
    border: 1px #e5e5e5 solid;
}

.navbar {
    background-color: rgb(62, 92, 118);
    color: white;
}

form {
    margin-right: 20px;
    display: flex;
}

h2 {
    margin-left: 20px;
}

.inbox {
    border-top: 1px #e5e5e5 solid;
    margin-left: 10px;
}

h5 {
    margin-left: 10px;
}

.inbox:hover {
    background-color: #dee2ff;
}

.inbox-col {
    @media (max-width: 750px) {
        height: 0;
        overflow: hidden;
    }
}

#msg-header {
    border-top: 1px #e5e5e5 solid;
}

.txt-areas {
    display: flex;
    flex-direction: column;
}